---
# Docker Installation and Configuration Role

- name: Install prerequisite packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - software-properties-common
    state: present
    update_cache: yes

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  register: docker_key
  until: docker_key is succeeded
  retries: 3

- name: Get Ubuntu version codename
  shell: lsb_release -cs
  register: ubuntu_version
  changed_when: false

- name: Add Docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ubuntu_version.stdout }} stable
    state: present
    filename: docker

- name: Install Docker CE
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
    update_cache: yes
  notify: restart docker

- name: Enable Docker service
  service:
    name: docker
    state: started
    enabled: yes
    daemon_reload: yes

- name: Wait for Docker daemon
  uri:
    url: unix:///var/run/docker.sock
  register: docker_socket
  until: docker_socket is succeeded
  retries: 10
  delay: 2

- name: Create docker group
  group:
    name: docker
    state: present

- name: Add current user to docker group
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes
  when: ansible_user_id != 'root'
